<md-input-container>
  <label>Search for a library</label>
  <input type="text" ng-model="keyword">
</md-input-container>

<md-content layout-fill class="list">
  <md-list>
    <md-list-item class="md-2-line" ng-repeat-start="lib in libs | orderBy: sorting | filter: {'name': keyword}">
      <div class="md-list-item-text" layout="row" layout-align="space-between center">
        <a>{{lib.name}}</a>
        <div layout="row" layout-align="space-between center">
          <a style="margin-right: 2em;" href="https:{{lib.latest}}" class="url" target="_blank">{{lib.latest}}</a>
          <md-select placeholder="Copy" ng-model="copyType" style="padding: 0 2px;">
            <md-option ui-zeroclip zeroclip-copied="copied=true" zeroclip-model="lib.latest">Copy URL</md-option>
            <md-option ui-zeroclip zeroclip-copied="copied=true" zeroclip-model="getTagStr(lib.latest)">Copy Tag</md-option>
          </md-select>
        </div>

      </div>
    </md-list-item>
    <md-divider ng-repeat-end></md-divider>
  </md-list>
</md-content>
