.copy-btn {
  height: 20px;
}

.container {
  margin: 5% 10%;
}

.list a.url {
  margin-right: 2em;
  color: #999;
  text-decoration: none;
  position: relative;
  top: 3px;
}

.list a.url:hover {
  text-decoration: underline;
}
