.copy-btn {
  height: 20px;
}

.container {
  margin: 5% 10%;
}

.main-search {
  margin-top: 15%;
}

.list .lib-url {
  margin: 1em 2em;
}

.list .lib-url a {
  color: #999;
  text-decoration: none;
  position: relative;
  top: 3px;
  font-size: 14px;
}

.list .lib-url a:hover {
  text-decoration: underline;
}

.list .lib-info {
  width: 50%;
}

.list .lib-name {
  font-size: 16px;
  font-weight: bold;
}

.list .lib-desc {
  padding-right: 2em;
  color: #999;
}
